.error h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: red;
  }
  
  .error h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: black;
  }