/*Set Header Property*/
.footer{
    height: 250px;
	width:100%;
	display:block;
	background-color: black;

    .inner_footer{
		width: 1000px;
		height: 100%;
		margin: 0 auto;

		.footer_section{
			font-family: 'Open Sans', sans-serif;
			color: white;
			display: table;
			float: left;
			padding-right: 40px;
			width:calc(21.666666667% - 20px);
			height:100%;
		}

		h1{			
			font-size:22px;
			display:block;
			width:100%;
			margin-bottom:20px;
		}

			a{
				font-size:18px;
				display:block;
				font-weight:200;
				width:100%;
				padding-bottom:5px;
			}

			.copyright{
				font-family:'Open Sans', sans-serif;
				font-size:14px;
			  }
		}
}